
.main{
  margin-top: 25px;
  padding: 50px;
  background: $color-light;
  border-bottom: 2px solid ($color-dark, 55%);
  border-radius: 6px;
  transform: opacity 500ms;
}

.main-page-nav{
  text-align: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 120px;
      
  a {
    text-decoration: none;
    color: #fff;  
  }

  h1 {
    padding-top: 25px;
    font-family: $font-header;
    font-size: 24px;
    font-weight: $font-normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
  }

  p {
    opacity: 0;
    font-size: 14px;
    font-weight: $font-bold;
  }

  a.link:hover {
    h1, p {
      transform: translateY(-33px);
      transition: all 900ms;
    }

    p {
      opacity: 1;
    }
  }
  
  .order{
    background-image: url(../images/pizza-1.jpg);
    border-radius: 5px;
    flex: 0 0 49%;
    height: 110px;
  }

  .booking{
    background-image: url(../images/pizza-2.jpg);
    border-radius: 5px;
    flex: 0 0 49%;
    height: 110px;
  }

  .opening-hours{
    background-color: $color-main;
    border-radius: 5px;
    flex: 0 0 100%;
    height: 110px;
    margin-top: 5px;
    
    h1 {
      padding-top: 6px;
      margin-top: 6px;
    }

    p {
      opacity: 1;
    }
  }
} 

.main-page-carousel{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .carousel-img{
    flex: 0 0 33.33%;
    height: 150px;
    width: 150px;

    img {
      height: auto;
      width: 100%;
      border-radius: 10px;
      height: 130%;
      object-fit: cover;
    }
  }

  .carousel-content{
    > * {
      display: none;
    }

    > .active {
      display: block;
    }
    
    h3, p {
      margin-left: 28px;
      margin-top: 10px;
      text-align: left;
    }

    padding: 10px;
    flex: 0 0 66.66%;
    height: 200px;
  }
  
  .carousel-mark{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 45px;
    margin-bottom: -55px;

    .mark{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(221, 221, 221, 0.911);
      margin: 0 8px;
    }

    .active{
      background-color: black;
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 130px;
  cursor: pointer;

  .img-content {
    flex: 0 0 31.3%;
    height: 200px;
    width: 200px;
    padding: 10px;
    position: relative;
    margin: 5px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }

    .cover {
      position: absolute;
      opacity: 0;
      background-color: #000;
      border-radius: 5px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      i {
        font-size: 25px;
        color: #fff;
        opacity: 0;
        margin: 2px;
      }
    }
  }


  .img-content:hover {
    .cover {
      opacity: .4;
      transition: all 1s;
    }

    i {
      opacity: 1;

      &:hover {
        color: red;
        transition: all 2s;
        z-index: 1;
      }
    }
  }

  .instagram {
    a {
      color: $color-main;
    }
  }
}

// BRACKET DISPLAY

.cart {
  display: none;
}

// MAIN-NAV DISPLAY

.main-nav {
  display: none;
}